# プログラミングのテスト

## 基礎編

### Markdown モードに変更してください。
できればショートカットで変更できると望ましいです。

### モジュールを読み込んでください

- Numpy: np
- Pandas: pd
- Matplotlib -> pyplot: plt

In [0]:
import numpy as np  # 数値計算
import pandas as pd  # データ操作
import matplotlib.pyplot as plt  # 可視化

### Matplotlib をインラインモードに設定してください

In [0]:
%matplotlib inline

### 各々のフォルダに下記のファイルをアップロード

- sample1.csv
- house.csv

お手元にダウンロード→アップロード

アップロードは GUI でボタンを探してください。

## 応用編

### 下記のリストを定義してください

- 変数名：numbers
- 値： 1, 2, 3

In [0]:
numbers = [1, 2, 3]

In [0]:
numbers

[1, 2, 3]

In [0]:
type(numbers)

list

### リストの足し算を行ってください

a = [1, 2, 3]  
b = [4, 5, 6]

足し算の処理

c <- [5, 7, 9]

ポイント

- どれだけコードが汚くても動くものを書く
- 要素の数が増えても対応できるプログラムか？

In [0]:
a = [1, 2, 3]
b = [4, 5, 6]

単純にリストの足し算をすると、次のようにリストの要素が追加されるだけの計算になってしまいます。

In [0]:
a + b

[1, 2, 3, 4, 5, 6]

まずは汚くても動くを優先として、各要素ごとの足し算で表現していきましょう。

In [0]:
a[0]

1

In [0]:
c = [a[0]+b[0], a[1]+b[1], a[2]+b[2]]

In [0]:
c

[5, 7, 9]

次に汎用的な処理が行えるように、`for` を使って繰り返しで記述していきましょう。

長さの同じ2つのリストを繰り返す場合は `zip` を使います。
まずはリストへの格納は置いておき、`print`で表示しながら確認しましょう。

In [0]:
for (_a, _b) in zip(a, b):
    print(_a + _b)

つぎに、リストへの格納ですが、このような場合はよく空のリストを定義して、繰り返しの中で計算結果を追加していくということが行われます。

In [0]:
c = []  # 空のリスト
for (_a, _b) in zip(a, b):
    # print(_a + _b)
    c.append(_a + _b)  # 追加

In [0]:
c

[5, 7, 9]

この空のリストの定義と処理結果の追加は下記のように一行で書くこともでき、このような書き方を好む人もいるため覚えておきましょう。

In [0]:
c = [ _a+_b for (_a, _b) in zip(a,b) ]

In [0]:
c

[5, 7, 9]

### 偶数と奇数を分けてください

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

odd <- [1, 3, 5, 7, 9]  
even <- [2, 4 ,6, 8, 10]

In [0]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [0]:
odd, even = [], []
for number in numbers:
    if number % 2 == 0:
        # 偶数に追加
        even.append(number)
    else:
        # 奇数に追加
        odd.append(number)

In [0]:
even

[2, 4, 6, 8, 10]

In [0]:
odd

[1, 3, 5, 7, 9]

In [0]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 関数を作る

先ほどの偶数奇数を分ける処理を関数化( calc )してください。

numbers = list(range(1, 11))

even, odd = calc(numbers)

odd <- [1, 3, 5, 7, 9]  
even <- [2, 4, 6, 8, 10] 

#### 発展

最小値 n_min から最大値 n_max までの奇数と偶数を分ける関数

even, odd = calc(n_min=1, n_max=5)

odd <- [1, 3, 5]  
even <- [2, 4]

また引数を指定しない場合はデフォルトで最小値 1, 最大値 10 に設定してください。

even, odd = calc()

odd <- [1, 3, 5, 7, 9]  
even <- [2, 4, 6, 8, 10]

In [0]:
numbers = list(range(1, 11))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [0]:
def calc(numbers):
    odd, even = [], []
    for number in numbers:
        if number % 2 == 0:
            # 偶数に追加
            even.append(number)
        else:
            # 奇数に追加
            odd.append(number)
    return even, odd

In [0]:
even, odd = calc(numbers)

In [0]:
even

[2, 4, 6, 8, 10]

In [0]:
odd

[1, 3, 5, 7, 9]

In [0]:
def calc(n_min=1, n_max=10):
    
    # 追加
    numbers = list(range(n_min, n_max+1))
    
    odd, even = [], []
    for number in numbers:
        if number % 2 == 0:
            # 偶数に追加
            even.append(number)
        else:
            # 奇数に追加
            odd.append(number)
    return even, odd

In [0]:
# even, odd = calc()
even, odd = calc(n_min=10, n_max=20)

In [0]:
even

[10, 12, 14, 16, 18, 20]

In [0]:
odd

[11, 13, 15, 17, 19]

## 発展編

### Pandas の操作

- sample1.csv の読み込み -> df (data frame)
- データの中を表示
- x (<- x1, x2) と y を切り分けてください。
- x1, x2, y の列のそれぞれの総和を計算してください -> x1_sum, x2_sum, y_sum

In [0]:
# CSVの読み込み
df = pd.read_csv('sample1.csv')

In [0]:
# データの中を表示
df

   y  x1  x2
0  1   7  10
1  2   8  11
2  3   9  12
3  4  10  13
4  5  11  14
5  6  12  15

In [0]:
# x (<- x1, x2) とyを切り分けてください。
# iloc[行, 列]
y = df.iloc[:, 0]
x = df.iloc[:, 1:]

In [0]:
x

   x1  x2
0   7  10
1   8  11
2   9  12
3  10  13
4  11  14
5  12  15

In [0]:
# x1, x2, yの列のそれぞれの総和を計算してください

In [0]:
df['y'].sum()

21

In [0]:
x1_sum, x2_sum, y_sum = 0, 0, 0  # 初期化
for (i, row) in df.iterrows():
    x1, x2, y = row['x1'], row['x2'], row['y']
    x1_sum += x1
    x2_sum += x2
    y_sum += y

In [0]:
x1_sum

57

In [0]:
x2_sum

75

In [0]:
y_sum

21