In [2]:
import numpy as np
import pandas as np
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

# リストの定義
- 変数名:numbers
- 値: 1,2,3

In [4]:
numbers = [1,2,3]

In [6]:
type(numbers)

list

# リストの足し算

- a = [1, 2, 3]
- b = [4, 5, 6]

In [18]:
a = [1,2,3]
b = [4,5,6]
c = []
a[1]

2

In [19]:
for i in range(len(a)):
    c.append(a[i]+b[i])

In [20]:
c

[5, 7, 9]

In [50]:
numbers = [1,2,3,4,5,6,7,8,9]
guusuu, kisuu = [], []
for i in numbers:
    if i %2 == 0:
        guusuu.append(i)
    else:
        kisuu.append(i)
guusuu

[2, 4, 6, 8]

In [36]:
df = pd.read_csv("data/housing.csv")

In [37]:
df.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,y
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [45]:
y = df.iloc[:, -1]
x = df.iloc[:, :-1]

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10